<div class="ano-selecionado">
    <label for="ano-dropdown">Selecione o Ano</label>
    <select id="ano-dropdown" value="AnoSelecionado" @onchange="UpdateCalendario">
        @if(AnosCalendarios != null && AnosCalendarios.Any())
        {
            @foreach(var ano in AnosCalendarios)
            {
                <option value="@ano" selected="@(ano == AnoSelecionado)">@ano</option>
            }
        }

        else
        {
            <option value="">Nenhum Calendário Disponível</option>
        }
    </select>
</div>

@code
{
    [Parameter]
    public int AnoSelecionado { get; set; }

    [Parameter]
    public EventCallback<int> OnAnoSelecionado { get; set; }

    [Parameter]
    public List<int> AnosCalendarios { get; set; } = new();

    private async Task UpdateCalendario(ChangeEventArgs e)
    {
        AnoSelecionado = Convert.ToInt32(e.Value);
        await OnAnoSelecionado.InvokeAsync(AnoSelecionado);
    }
}

<style>
    .ano-selecionado {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

        .ano-selecionado label {
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }

        .ano-selecionado select {
            padding: 8px 12px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
            transition: border-color 0.3s ease;
        }

            .ano-selecionado select:focus {
                border-color: #007bff;
                outline: none;
            }
</style>