@page "/Eventos/ViewEventos/{idCalendario:int?}"
@using BlazorApp.Models
@using BlazorApp.Services

@inject CalendarioService CalendarioService
@inject EventoService EventoService

@if (calendarios == null)
{
    <p><em>Carregando calendários...</em></p>
}
else
{
    <InputSelect class="input-group mb-3" @bind-Value="selectedCalendarioId" @onchange="OnChangeCalendario">
        <option value="0">Selecione um calendário</option>
        @foreach (var calendario in calendarios)
        {
            <option value="@calendario.IdCalendario">@calendario.Ano</option>
        }
    </InputSelect>
}
@if(selectedCalendarioId > 0)
{
    <ViewEventosDoCalendario idCalendario="selectedCalendarioId" @key="selectedCalendarioId" />
}
@code {
    [Parameter] public int? idCalendario { get; set; }
    private List<Calendario> ?calendarios;
    private int selectedCalendarioId;

    protected override async Task OnInitializedAsync()
    {
        calendarios = await CalendarioService.GetAsync();
        if(idCalendario.HasValue && idCalendario > 0)
        {
            selectedCalendarioId = idCalendario.Value;
        }
    }

    private async Task OnChangeCalendario(ChangeEventArgs e)
    {
        selectedCalendarioId = Convert.ToInt32(e.Value);
        StateHasChanged();
    }
    
}
