@page "/ViewCalendario"
@using BlazorApp.Models
@inject HttpClient Http

<h1 class="text-center mb-3">Calendários</h1>
<a class="btn btn-primary mb-3" href="/Calendarios/CriarCalendario">Criar Calendário</a>

@if(calendarios == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <ul>
        @foreach (var calendario in calendarios)
        {
            <li>@calendario.Ano - @calendario.Status</li>
        }
    </ul>
}

@code {
    private List<Calendario> ?calendarios;
    protected override async Task OnInitializedAsync()
    {
        calendarios = await Http.GetFromJsonAsync<List<Calendario>>("https://localhost:7071/api/Calendarios/ListarCalendarios");
    }


}
